

<section ng-app="agentDetails">
    <div id="create-agent">

        <header>
            <div class="content-header">
                <div class="register-icon"></div>
                <div class="content-title">
                    <h2>
                        Create a new <strong>get me there</strong> agent
                    </h2>
                    <p>Confirm agents details</p>
                </div>
            </div>
        </header>

        <form>
            <div class="content-container">

                <div class="row-fluid">
                    <div class="span8">

                        <!--<h:messages class="field-error error-summary" />-->


                        <h3>Please confirm that the following agent details are correct:</h3>

                        <p class="row-fluid">
                            <span class="span4 field-title">First name:</span> <span class="span8">{{sessionData.agentViewModel.firstName}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Last name:</span> <span class="span8">{{sessionData.agentViewModel.lastName}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Email address:</span> <span class="span8">{{sessionData.agentViewModel.email}}</span>
                        </p>
                        <p class="row-fluid">
                            <span class="span4 field-title">Password:</span> <span class="span8">{{sessionData.agentViewModel.password}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Telephone number:</span> <span class="span8">{{sessionData.agentViewModel.phoneNumber}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Address line 1:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.lineOne}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Address line 2:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.lineTwo}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Address line 3:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.lineThree}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Address line 4:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.lineFour}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Address line 5:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.lineFive}}</span>
                        </p>

                        <p class="row-fluid">
                            <span class="span4 field-title">Address line 6:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.lineSix}}</span>
                        </p>

                        <p class="row-fluid margin0">
                            <span class="span4 field-title">Postcode:</span> <span class="span8">{{sessionData.agentViewModel.officeLocation.postCode}}</span>
                        </p>
                        <p class="row-fluid">
                            <span class="span4 field-title">Gender:</span> <span class="span8">{{sessionData.agentViewModel.gender}}</span>
                        </p>

                    </div>
                    <!--close span8-->
                </div>
                <!-- close row-fluid -->

                <div class="next-step-cancel">

                    <button class="btn" ng-click="completeAgentRegistration();">
                        <span class="pull-left">Confirm Create Agent</span>
                        <i class="step-btn-icon"></i>
                    </button>

                    <button class="cancel-link" ng-click="cancelConfirmAgentDetails();" type="submit">
                        <span class="pull-left">CancelConfirmAgentDetails</span>
                        <i class="step-btn-icon"></i>
                    </button>

                </div>
                <!-- close next-step-cancel -->
            </div>
            <!-- close content-container -->
        </form>

    </div>
</section>
