<section>
    <div id="create-agent">

        <header>
            <div class="content-header">
                <div class="register-icon"></div>
                <div class="content-title">
                    <h2>Create a new <strong>get me there</strong> agent</h2>
                    <p>Enter agents details</p>
                </div>
            </div>
        </header>

        <form name="regForm" method="post" action="#" class="validate" novalidate>
            <div class="content-container">

                <div class="row-fluid">
                    <div class="span8">

                        <div class="explanatory-text-container">
                            <i class="icon-info"></i> <small class="explanatory-text">Fields marked * are required</small>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-forename" class="field-title">First name<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="forename" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-forename" ng-maxlength="71"
                                       required ng-model="sessionData.agentViewModel.firstName"
                                        >
                                </input>
                                <p ng-show="regForm.forename.$error.required && !regForm.forename.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>

                                <!-- <h:message for="tfgm-form-create-agent-forename" class="field-error" /> -->
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-surname" class="field-title">Last name<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="lastName" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-surname" ng-maxlength="71"
                                       ng-model="sessionData.agentViewModel.lastName" required>
                                </input>
                                <p ng-show="regForm.lastName.$error.required && !regForm.lastName.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-surname" class="field-error" />-->
                            </div>
                        </div>

                        <!--	<div class="control-group">
                                <label for="tfgm-form-card-dob" class="field-title">
                                    Date of birth<span class="field-asterisk">*<span class="ir">Required</span></span>
                                </label>
                                <div class="controls controls-row">
                                    <h:selectOneMenu name="tfgm-form-card-dob" id="tfgm-form-card-dob"
                                                     value="#{agentViewModel.dobDay}" class="span4 val-required">
                                        <f:selectItem itemLabel="Day" itemValue="" />
                                        <f:selectItems value="#{agentViewModel.dobDays}" var="day" itemLabel="#{day.label}" itemValue="#{day.value}"/>
                                    </h:selectOneMenu>
                                    <h:selectOneMenu name="tfgm-form-card-dob-month" id="tfgm-form-card-dob-month"
                                                     value="#{agentViewModel.dobMonth}" class="span4 val-required">
                                        <f:selectItem itemLabel="Month" itemValue="" />
                                        <f:selectItems value="#{agentViewModel.dobMonths}" var="month" itemLabel="#{month.label}" itemValue="#{month.value}"/>
                                    </h:selectOneMenu>
                                    <h:selectOneMenu name="tfgm-form-card-dob-year" id="tfgm-form-card-dob-year"
                                                     value="#{agentViewModel.dobYear}" class="span4 val-required">
                                        <f:selectItem itemLabel="Year" itemValue="" />
                                        <f:selectItems value="#{agentViewModel.dobYears}" var="year" itemLabel="#{year.label}" itemValue="#{year.value}"/>
                                    </h:selectOneMenu>
                                </div>
                                <h:message for="tfgm-form-card-dob" class="field-error"/>
                            </div>-->

                        <div class="control-group">
                            <label for="tfgm-form-card-gender" class="field-title">
                                Gender<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <select name="gender"  class="input-block-level val-required"
                                        ng-model="sessionData.agentViewModel.gender"
                                        ng-options="gender.genderDisplay as gender.genderValue for gender in genders"
                                        required>
                                    <option value="">Please select...</option>
                                </select>
                                <p ng-show="regForm.gender.$error.required && !regForm.gender.$pristine">This is a required field. Please enter a value and try again.</p>
                                <!--<h:selectOneMenu name="tfgm-form-card-gender" id="tfgm-form-card-gender"
                                                   value="#{agentViewModel.gender}" class="input-block-level val-required"
                                                   required="true" requiredMessage="${msg.MSG0041}">
                                <f:selectItem itemLabel="Please select..." itemValue="" />
                                <f:selectItems value="#{agentViewModel.genders}" var="gender" itemLabel="#{gender.label}" itemValue="#{gender.value}"/>
                            </h:selectOneMenu>-->
                            </div>

                            <!--<h:message for="tfgm-form-card-gender" class="field-error"/>-->
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-email" class="field-title">
                                Email address<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <input type = "email" name="email" styleClass="input-block-level val-email-regex"
                                       id="tfgm-form-create-agent-email" ng-maxlength="75"
                                       ng-model="sessionData.agentViewModel.email" required>
                                </input>
                                <p ng-show="regForm.email.$error.required && !regForm.email.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <p ng-show="regForm.email.$error.email && !regForm.email.$pristine" class="help-block">Email is not Valid</p>
                                <!--<h:message for="tfgm-form-create-agent-email" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="field-title " for="tfgm-register-password">
                                Create your password<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <input type="password" id="tfgm-register-password" name="password"
                                       class="input-block-level val-required val-password-regex password-strength"  ng-maxlength="20"
                                       ng-model="sessionData.agentViewModel.password" required ui-validate=" 'chkPass($value)' "
                                       ui-validate-watch=" 'password' ">

                                <!--onkeyup="chkPass(this.value);"-->

                                <!--<f:validator validatorId="passwordValidator" />
                                <f:attribute name="confirmPassword" value="#{confirmPassword}" />-->
                                </input>
                                <p ng-show="regForm.password.$error.required && !regForm.password.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                            </div>

                            <!--<h:message for="tfgm-register-password" class="field-error"/>-->
                        </div>

                        <div class="password-score">
                            <div id="scorebarBorder">
                                <div id="complexity">Weak</div>
                                <div id="scorebar">&#160;</div>
                            </div>

                            <p class="explanatory-text">Your password must be 8-20 characters in length and must contain at least one upper case letter, one number and one lower case letter.</p>
                        </div>


                        <div class="control-group margin0">
                            <label class="field-title " for="tfgm-register-password-confirm">
                                Re-type your password<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <input type="password" name="confirmPassword" id="tfgm-register-password-confirm"
                                       binding="#{confirmPassword}" class="input-block-level val-required" ng-maxlength="20"
                                       required="true"
                                       ng-model="confirmPassword" data-password-verify="sessionData.agentViewModel.password">

                                <!--<f:validateRegex pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,20}$"/>-->
                                </input>
                                <p ng-show="regForm.confirmPassword.$error.passwordVerify && !regForm.confirmPassword.$pristine" class="help-block">Your password entries do not match. Please re-enter and try again.</p>
                                <p ng-show="regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                            </div>

                            <!--<h:message for="tfgm-register-password-confirm" class="field-error"/>-->
                        </div>



                        <div class="control-group">
                            <label for="tfgm-form-create-agent-phone" class="field-title">
                                Telephone number</label>
                            <div class="controls">
                                <input type="text" name = "phone" styleClass="input-block-level val-telephone-regex"
                                       id="tfgm-form-create-agent-phone" ng-maxlength="10"
                                       ng-model="sessionData.agentViewModel.phoneNumber" ng-pattern="phoneNumberPattern" >
                                </input>
                                <p ng-show="regForm.phone.$invalid && !regForm.phone.$pristine" class="help-block">Enter a valid phone number</p>
                                <!--<h:message for="tfgm-form-create-agent-phone" class="field-error" />-->
                            </div>
                        </div>


                        <!--	<div class="control-group">
                                <label for="tfgm-form-create-agent-friendly-name" class="field-title">Friendly name<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                                <div class="controls">
                                    <input type="text" name="friendlyName" styleClass="input-block-level"
                                        id="tfgm-form-create-agent-friendly-name" ng-maxlength="71"
                                        value="#{agentViewModel.officeLocation.lineOne}" required="true"
                                        requiredMessage="${msg.MSG0041}" ng-model = "agentViewModel.friendlyName" required>
                                        </input>
                                    <p ng-show="regForm.friendlyName.$error.required && !regForm.friendlyName.$pristine" class="help-block">FriendlyName is required</p>
                                    &lt;!&ndash;<h:message for="tfgm-form-create-agent-friendly-name" class="field-error" />&ndash;&gt;
                                </div>
                            </div>-->

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-1" class="field-title">Address line 1</label>
                            <div class="controls">
                                <input type="text" name="addressLine1" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-1" ng-maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineOne">
                                </input>
                                <p ng-show="regForm.addressLine1.$error.required && !regForm.addressLine1.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-address-1" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-2" class="field-title">Address line 2</label>
                            <div class="controls">
                                <input type="text" name="addressLine2" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-2" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineTwo">
                                </input>
                                <p ng-show="regForm.addressLine2.$error.required && !regForm.addressLine2.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-address-2" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-3" class="field-title">Address line 3</label>
                            <div class="controls">
                                <input type="text" name="addressLine3" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-3" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineThree">
                                </input>
                                <p ng-show="regForm.addressLine3.$error.required && !regForm.addressLine3.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-address-3" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-4" class="field-title">Address line 4</label>
                            <div class="controls">
                                <input type="text" name="addressLine4" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-4" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineFour">
                                </input>
                                <p ng-show="regForm.addressLine4.$error.required && !regForm.addressLine4.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-address-4" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-5" class="field-title">Address line 5</label>
                            <div class="controls">
                                <input type="text" name="addressLine5" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-5" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineFive">
                                </input>
                                <p ng-show="regForm.addressLine5.$error.required && !regForm.addressLine5.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-address-5" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-6" class="field-title">Address line 6</label>
                            <div class="controls">
                                <input type="text" name="addressLine6" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-6" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineSix">
                                </input>
                                <p ng-show="regForm.addressLine6.$error.required && !regForm.addressLine6.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <!--<h:message for="tfgm-form-create-agent-address-6" class="field-error" />-->
                            </div>
                        </div>

                        <div class="control-group margin0">
                            <label for="tfgm-form-create-agent-postcode" class="field-title">Postcode</label>
                            <div class="controls">
                                <input type="number" name="postcode" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-postcode" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.postCode"  ng-pattern="integerval">
                                </input>
                                <p ng-show="regForm.postcode.$error.required && !regForm.postcode.$pristine" class="help-block">This is a required field. Please enter a value and try again.</p>
                                <p ng-show="regForm.postcode.$invalid && !regForm.postcode.$pristine" class="help-block">Postcode should be a number</p>
                                <!--<h:message for="tfgm-form-create-agent-postcode" class="field-error" />-->
                            </div>
                        </div>
                    </div>
                    <!--close span-->
                </div>
                <!--close row-fluid -->

                <div class="next-step-cancel">
                    <button  ng-click="gotToPage('/ConfirmAgentDetails_VIEW3')" class="btn" <!--ng-disabled="regForm.$invalid"-->>Create Agent</button>
                    <!--<h:commandLink action="validateAgentDetails" value="" class="btn">
                        <span class="pull-left">Create agent</span>
                        <i class="step-btn-icon"></i>
                    </h:commandLink>-->
                    <button class="cancel-link"  ng-click="cancelEdit()">Cancel</button>
                    <!--<h:commandLink class="cancel-link" value="Cancel" action="cancelEnterAgentDetails" immediate="true" />-->
                </div>
                <!--  close next-step-cancel -->

            </div>
            <!-- close content-container -->

        </form>
    </div>
</section>