<section>
    <div id="create-agent">

        <header>
            <div class="content-header">
                <div class="register-icon"></div>
                <div class="content-title">
                    <h2>Create a new <strong>get me there</strong> agent</h2>
                    <p>Enter agents details</p>
                </div>
            </div>
        </header>

        <form name="regForm" method="post" action="#" class="validate" ng-submit="regForm.$valid && nextStep()" novalidate>
            <div class="content-container">

                <div class="row-fluid">
                    <div class="span8">

                        <div class="explanatory-text-container">
                            <i class="icon-info"></i> <small class="explanatory-text">Fields marked * are required</small>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-forename" class="field-title">First name<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="firstName" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-forename" ng-maxlength="71"
                                       required ng-model="sessionData.agentViewModel.firstName"  ng-pattern="{{validationViewModel.firstName.pattern}}"
                                        >
                                </input>
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.firstName.$error.required" style="">{{validationViewModel.firstName.requiredErrorMessage}}</span>
                            <span class="field-error" ng-show="!regForm.firstName.$error.required && regForm.firstName.$invalid" style="">{{validationViewModel.firstName.patternErrorMessage}}</span>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-surname" class="field-title">Last name<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="lastName" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-surname" ng-maxlength="71"
                                       ng-model="sessionData.agentViewModel.lastName"  ng-pattern="{{validationViewModel.lastName.pattern}}" required>
                                </input>
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.lastName.$error.required" style="">{{validationViewModel.lastName.requiredErrorMessage}}</span>
                            <span class="field-error" ng-show="!regForm.lastName.$error.required && regForm.lastName.$invalid" style="">{{validationViewModel.lastName.patternErrorMessage}}</span>
                        </div>

                        <!--	<div class="control-group">
                                <label for="tfgm-form-card-dob" class="field-title">
                                    Date of birth<span class="field-asterisk">*<span class="ir">Required</span></span>
                                </label>
                                <div class="controls controls-row">
                                    <h:selectOneMenu name="tfgm-form-card-dob" id="tfgm-form-card-dob"
                                                     value="#{agentViewModel.dobDay}" class="span4 val-required">
                                        <f:selectItem itemLabel="Day" itemValue="" />
                                        <f:selectItems value="#{agentViewModel.dobDays}" var="day" itemLabel="#{day.label}" itemValue="#{day.value}"/>
                                    </h:selectOneMenu>
                                    <h:selectOneMenu name="tfgm-form-card-dob-month" id="tfgm-form-card-dob-month"
                                                     value="#{agentViewModel.dobMonth}" class="span4 val-required">
                                        <f:selectItem itemLabel="Month" itemValue="" />
                                        <f:selectItems value="#{agentViewModel.dobMonths}" var="month" itemLabel="#{month.label}" itemValue="#{month.value}"/>
                                    </h:selectOneMenu>
                                    <h:selectOneMenu name="tfgm-form-card-dob-year" id="tfgm-form-card-dob-year"
                                                     value="#{agentViewModel.dobYear}" class="span4 val-required">
                                        <f:selectItem itemLabel="Year" itemValue="" />
                                        <f:selectItems value="#{agentViewModel.dobYears}" var="year" itemLabel="#{year.label}" itemValue="#{year.value}"/>
                                    </h:selectOneMenu>
                                </div>
                                <h:message for="tfgm-form-card-dob" class="field-error"/>
                            </div>-->

                        <div class="control-group">
                            <label for="tfgm-form-card-gender" class="field-title">
                                Gender<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <select name="gender"  class="input-block-level val-required"
                                        ng-model="sessionData.agentViewModel.gender"
                                        ng-options="gender.genderDisplay as gender.genderValue for gender in genders"
                                        required>
                                    <option value="">Please select...</option>
                                </select>

                            </div>
                            <span class="field-error" ng-show="submitted && regForm.gender.$error.required" style="">{{validationViewModel.required.requiredErrorMessage}}</span>
                            <!--<h:message for="tfgm-form-card-gender" class="field-error"/>-->
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-email" class="field-title">
                                Email address<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <input type = "email" name="email" styleClass="input-block-level val-email-regex"
                                       id="tfgm-form-create-agent-email" ng-maxlength="75"
                                       ng-model="sessionData.agentViewModel.email" required>
                                </input>

                                <!--<h:message for="tfgm-form-create-agent-email" class="field-error" />-->
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.email.$error.required" style="">{{validationViewModel.email.requiredErrorMessage}}</span>
                            <span class="field-error" ng-show="!regForm.email.$error.required && regForm.email.$invalid" style="">{{validationViewModel.email.patternErrorMessage}}</span>
                        </div>

                        <div class="control-group">
                            <label class="field-title " for="tfgm-register-password">
                                Create your password<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <input type="password" id="tfgm-register-password" name="password"
                                       class="input-block-level val-required val-password-regex password-strength"  ng-maxlength="20"
                                       ng-model="sessionData.agentViewModel.password" ng-pattern="{{validationViewModel.password.pattern}}" onkeyup="chkPass(this.value);" required>

                                <!--onkeyup="chkPass(this.value);"-->

                                <!--<f:validator validatorId="passwordValidator" />
                                <f:attribute name="confirmPassword" value="#{confirmPassword}" />-->
                                </input>
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.password.$error.required" style="">{{validationViewModel.password.requiredErrorMessage}}</span>
                            <span id="password_patternErrorMessage" class="field-error" ng-show="!regForm.password.$error.required && regForm.password.$invalid" style=""><!-- Set in controller because AngularJS field would encode HTML --></span>
                            <!--<h:message for="tfgm-register-password" class="field-error"/>-->
                        </div>

                        <div class="password-score">
                            <div id="scorebarBorder">
                                <div id="complexity">Weak</div>
                                <div id="scorebar">&#160;</div>
                            </div>
                            <p class="explanatory-text">Your password must be 8-20 characters in length and must contain at least one upper case letter, one number and one lower case letter.</p>
                        </div>


                        <div class="control-group margin0">
                            <label class="field-title " for="tfgm-register-password-confirm">
                                Re-type your password<span class="field-asterisk">*<span class="ir">Required</span></span>
                            </label>
                            <div class="controls">
                                <input type="password" name="confirmPassword" id="tfgm-register-password-confirm"
                                       binding="#{confirmPassword}" class="input-block-level val-required" ng-maxlength="20"
                                       required="true"
                                       ng-model="confirmPassword">

                                <!--<f:validateRegex pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,20}$"/>-->
                                </input>
                                <span class="field-error" ng-show="submitted && regForm.confirmPassword.$error.required" style="">{{validationViewModel.passwordReTyped.requiredErrorMessage}}</span>
                                <span id="passwordReTyped_patternErrorMessage" class="field-error" ng-show="!regForm.confirmPassword.$error.required && (sessionData.agentViewModel.password != confirmPassword)" style=""><!-- Set in controller because AngularJS field would encode HTML --></span>
                            </div>

                            <!--<h:message for="tfgm-register-password-confirm" class="field-error"/>-->
                        </div>



                        <div class="control-group">
                            <label for="tfgm-form-create-agent-phone" class="field-title">
                                Telephone number</label>
                            <div class="controls">
                                <input type="text" name = "phone" styleClass="input-block-level val-telephone-regex"
                                       id="tfgm-form-create-agent-phone" ng-maxlength="10"
                                       ng-model="sessionData.agentViewModel.phoneNumber" ng-pattern="{{validationViewModel.telephone.pattern}}" >
                                </input>
                            </div>
                            <span class="field-error" ng-show="!regForm.phone.$error.required && regForm.phone.$invalid" style="">{{validationViewModel.telephone.patternErrorMessage}}</span>
                        </div>


                        <!--	<div class="control-group">
                                <label for="tfgm-form-create-agent-friendly-name" class="field-title">Friendly name<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                                <div class="controls">
                                    <input type="text" name="friendlyName" styleClass="input-block-level"
                                        id="tfgm-form-create-agent-friendly-name" ng-maxlength="71"
                                        value="#{agentViewModel.officeLocation.lineOne}" required="true"
                                        requiredMessage="${msg.MSG0041}" ng-model = "agentViewModel.friendlyName" required>
                                        </input>
                                    <p ng-show="regForm.friendlyName.$error.required && !regForm.friendlyName.$pristine" class="help-block">FriendlyName is required</p>
                                    &lt;!&ndash;<h:message for="tfgm-form-create-agent-friendly-name" class="field-error" />&ndash;&gt;
                                </div>
                            </div>-->

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-1" class="field-title">Address line 1<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="addressLine1" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-1" ng-maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineOne" ng-pattern="{{validationViewModel.address.pattern}}">
                                </input>
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.addressLine1.$error.required" style="">{{validationViewModel.address.requiredErrorMessageLine1}}</span>
                            <span class="field-error" ng-show="submitted && !regForm.addressLine1.$error.required && regForm.addressLine1.$invalid" style="">{{validationViewModel.address.patternErrorMessage}}</span>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-2" class="field-title">Address line 2<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="addressLine2" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-2" maxlength="71"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineTwo"  ng-pattern="{{validationViewModel.address.pattern}}">
                                </input>
                                <span class="field-error" ng-show="submitted && regForm.addressLine2.$error.required" style="">{{validationViewModel.address.requiredErrorMessageLine2}}</span>
                                <span class="field-error" ng-show="submitted && !regForm.addressLine2.$error.required && regForm.addressLine2.$invalid" style="">{{validationViewModel.address.patternErrorMessage}}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-3" class="field-title">Address line 3</label>
                            <div class="controls">
                                <input type="text" name="addressLine3" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-3" maxlength="71"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineThree"  ng-pattern="{{validationViewModel.address.pattern}}">
                                </input>
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.addressLine3.$invalid" style="">{{validationViewModel.address.patternErrorMessage}}</span>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-4" class="field-title">Address line 4</label>
                            <div class="controls">
                                <input type="text" name="addressLine4" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-4" maxlength="71"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineFour"  ng-pattern="{{validationViewModel.address.pattern}}">
                                </input>
                                <span class="field-error" ng-show="submitted && regForm.addressLine4.$invalid" style="">{{validationViewModel.address.patternErrorMessage}}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-5" class="field-title">Address line 5</label>
                            <div class="controls">
                                <input type="text" name="addressLine5" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-5" maxlength="71"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineFive"  ng-pattern="{{validationViewModel.address.pattern}}">
                                </input>
                                <span class="field-error" ng-show="submitted && regForm.addressLine5.$invalid" style="">{{validationViewModel.address.patternErrorMessage}}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="tfgm-form-create-agent-address-6" class="field-title">Address line 6</label>
                            <div class="controls">
                                <input type="text" name="addressLine6" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-address-6" maxlength="71"
                                       ng-model="sessionData.agentViewModel.officeLocation.lineSix"  ng-pattern="{{validationViewModel.address.pattern}}">
                                </input>
                                <span class="field-error" ng-show="submitted && regForm.addressLine6.$invalid" style="">{{validationViewModel.address.patternErrorMessage}}</span>
                            </div>
                        </div>

                        <div class="control-group margin0">
                            <label for="tfgm-form-create-agent-postcode" class="field-title">Postcode<span
                                    class="field-asterisk">*<span class="ir">Required</span></span></label>
                            <div class="controls">
                                <input type="text" name="postcode" styleClass="input-block-level"
                                       id="tfgm-form-create-agent-postcode" maxlength="10"
                                       required="true"
                                       ng-model="sessionData.agentViewModel.officeLocation.postCode"   ng-pattern="{{validationViewModel.postCode.pattern}}">
                                </input>
                            </div>
                            <span class="field-error" ng-show="submitted && regForm.postcode.$error.required" style="">{{validationViewModel.postCode.requiredErrorMessage}}</span>
                            <span class="field-error" ng-show="submitted && !regForm.postcode.$error.required && regForm.postcode.$invalid" style="">{{validationViewModel.postCode.patternErrorMessage}}</span>
                        </div>
                    </div>
                    <!--close span-->
                </div>
                <!--close row-fluid -->

                <div class="next-step-cancel">
                    <button  type="submit" ng-click="submitted=true" class="btn" >Create Agent</button>
                    <!--ng-disabled="regForm.$invalid"-->

                    &nbsp;&nbsp;&nbsp;&nbsp;<a  ng-click="cancelEdit()">Cancel</a>
                </div>
                <!--  close next-step-cancel -->

            </div>
            <!-- close content-container -->

        </form>
    </div>
</section>